<div id="feature" class="animate-block feature-block contact-feature-block">
    <div class="feature-block-inner container">
      <div class="text-center">
        <h2 class="feature-block-heading">Freatures</h2>
        <span class="feature-block-desc">All software applications come with a standard set of powerful features to simplify the management of your data and processes.</span>
        <div class="feature-list">
          <ul class="feature-list-wrp">
            <li><span class="icon feature-icon-location"><i class="fa fa-line-chart"></i><a href="#"> Reports & dashboards</a></span></li>
            <li><span class="icon feature-icon-phone"><i class="fa fa-flag"></i><a href="#">Task management</a></span></li>
            <li><span class="icon feature-icon-email"><i class="fa fa-envelope"></i><a href="#">Email notifications</a></span></li>
            <li><span class="icon feature-icon-location"><i class="fa fa-cogs"></i><a href="#">Configurable forms</a></span></li>
            <li><span class="icon feature-icon-phone"><i class="fa fa-lock"></i><a href="#">Exceptional data security</a> </span></li>
            <li><span class="icon feature-icon-email"><i class="fa fa-globe"></i><a href="#">Client Community</a></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>