<div id="about" class="content-block about-block">
    <div class="about-block-inner container">
      <div class="animate-block content-block-inner text-center">
        <h2>About Us</h2>
        <div class="col-10-desktop no-float center-element">
          <p>
            Lorem has grown to become a leading international test
          </p>
        </div>
      </div>
      <div class="animate-block about-content clear">
        <div class="text-center col-12-tablet">
          <p>
            Lorem test holds an extensive product capability, a diverse customer base, certified staff, and impressive facilities. Our MRO services and specialized repair creates an advantage that yields true value to our customers. We utilize Lean Production throughout
            our 30,000 sq.ft facility and have the equipment, staff and support functions to perform all work in-house.</p>
        </div>
      </div>
      <div class="our-mission">
        <h3 class="h3 text-center">Our Mission</h3>
        <div class="animate-block about-content clear">
        <div class="text-center col-12-tablet">
          <p>
            At Lorem, our mission is a total company-wide commitment to customer satisfaction by providing the aviation industry with world class services and sales support at the highest level of quality. Camtronics services and distributes a wide range of products for the wolrd's fixed and rotor wing aircraft. Our highly trained personnel,
            specialized equipment and state-of-the-art facilities make Lorem the supplier of choice for major and regional airlines original equipment manufactures and overhaul facilities world-wide. There is a difference in after market suppliers. Camtronics is the one you can afford and count on !</p>
        </div>
      </div>
      </div>
    </div>
  </div>