<div id="contact" class="animate-block content-block contact-block">
    <div class="contact-block-inner container-fluid">
      <div class="clear row">
        <h2 class="contact-block-heading text-center">Contact Us</h2>
        <div class="contact-block-content col-6-tablet">
          <div class="inner-wrp">
            <form class="contact-form">
              <fieldset>
                <legend class="sr">Contact Us</legend>
                <div class="field-group">
                  <input class="field" type="text" placeholder="First Name">
                </div>
                <div class="field-group">
                  <input class="field" type="text" placeholder="Last Name">
                </div>
                <div class="field-group">
                  <input class="field" type="text" placeholder="Company">
                </div>
                <div class="field-group">
                  <input class="field" type="text" placeholder="Title">
                </div>
                <div class="field-group">
                  <select class="field">
                    <option value="Industry">--Select Industry--</option>
                    <option value="test">Test</option>
                    <option value="testa">Mercedes</option>
                    <option value="testb">Audi</option>
                  </select>
                </div>
                <div class="field-group">
                  <select class="field">
                    <option value="Employee">--# of Employee--</option>
                    <option value="test">Test</option>
                    <option value="testa">Mercedes</option>
                    <option value="testb">Audi</option>
                  </select>
                </div>
                <div class="field-group">
                  <select class="field">
                    <option value="Country">--Select Country--</option>
                    <option value="test">Test</option>
                    <option value="testa">Mercedes</option>
                    <option value="testb">Audi</option>
                  </select>
                </div>
                <div class="field-group">
                  <label class="sr" for="subject">Date</label>
                  <input name="subject" class="field" id="subject" type="text" placeholder="Phone" style="width:75%; float:left;">
                  <input name="subject" class="field" id="subject" type="text" placeholder="Ext." style="width:20%; float:right;">
                </div>
                <div class="field-group">
                  <label class="sr" for="email">Email</label>
                  <input class="field" type="email" placeholder="Email">
                </div>
                
                <div class="text-center">
                  <input type="submit" class="button button-primary contact-submit" value="Submit">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="contact-block-form col-6-tablet">
          <div class="inner-wrp">
            <h2 class="h2">Lorem Sample</h2>
            <p>122 testing Drive <br> Test, Lorem 25636 USA</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1613.2165473889715!2d-95.99376107015459!3d36.034134722695924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b69404ef4a3afd%3A0xeadc840b1a7737f9!2sW+Beechcraft+Dr%2C+Tulsa%2C+OK+74132%2C+USA!5e0!3m2!1sen!2sin!4v1448062472757" width="100%" height="518" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>