<footer class="footer solid-bg">
    <div class="region region-footer">
      <section class="block block-block clearfix">
        <div class="pane-content container">
          <div class="wf-wrap">
            <div class="wf-container-footer" style="padding-top:0">
              <div class="wf-container">
                <div class="widget wf-cell col-3-tablet" id="create-free-account">
                  <div class="widget-title">Create Free Account</div>
                  <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/accessibility">Accessibility</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/support">Support</a></li> 
                    <li><a href="/careers">Careers</a></li>
                  </ul>
                </div>
                <div class="widget wf-cell col-3-tablet" id="contactUsIntel">
                  <div class="widget-title">Contact Us</div>
                  <ul>
                    <li>Phone: 1 000 000 0000</li>
                    <li>Europe: +44(0) 000 000 0000</li>
                  </ul>
                </div>
                <div class="widget wf-cell col-6-tablet">
                  <div class="widget-title"><a href="/" title="Home"><span class="logoCont"><span class="flogo">Sample Logo</span></span></a><span class="fw-light fs-ex-small d-block" style="color:#9bb8d3">ISO 9001:2008 CERTIFIED</span></div>
                  <p>Test web-based management systems optimize business performance, enable regulatory compliance, and streamline ISO initiatives.</p>
                  <p>Follow us on:</p>
                  <div class="soc-ico">
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-rss"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-pinterest-p"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="social-icon" href="#" style="visibility: visible;" target="_blank">
                      <i class="fa fa-envelope-o"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="footer-bottom-part text-center color-grey fw-light">
          <div class="container">
            <div class="content">
              <p style="text-align:center; margin-bottom:0">©test Technologies 1992—2015. Test is owned by lorem Technologies Inc. and is protected by<br>
                Canadian &amp; Copyright Laws, International Treaty Provision and all other applicable laws.
              </p>
            </div>
          </div>
        </section>
      </section>
      <!-- /.block -->
    </div>
  </footer>