<div class="banner">
  <p class="mobile-number pull-right">(000) 000-0000</p>
  <div class="header">
    <div class="header-inner clear">
      <a class="logo" href="#">Sample Logo</a>
      <input type="checkbox" id="navigation-toggle-checkbox" name="navigation-toggle-checkbox" class="navigation-toggle-checkbox none">
      <label for="navigation-toggle-checkbox" class="navigation-toggle-label" onclick>
        <span class="navigation-toggle-label-inner">
          <span class="sr">Navigation</span>
        </span>
      </label>
      <div class="navigation">
        <ul class="navigation-menu">
          <li class="navigation-item"><a class="anchorLink" href="#home">Home</a></li>
          <li class="navigation-item"><a class="anchorLink" href="#feature">Features</a></li>
          <li class="navigation-item"><a class="anchorLink" href="#about">About Us</a></li>
          <li class="navigation-item"><a class="anchorLink" href="#contact">Contact Us</a></li>
          <li class="navigation-item"><a class="anchorLink" (click)="open(content)">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="banner-inner">
      <h1 class="banner-lead text-center">
        <span class="banner-lead-1">Training Management</span>
        <span class="banner-lead-2">Reduce the time, resources and costs associated with maintaining your training program.</span>
      </h1>
    </div>
  </div>
</div>
<div class="animate-block content-block head-block">
  <div class="head-block-inner container">
    <div class="content-block-inner text-center">
      <div class="col-10-desktop no-float center-element">
        <p>
           Training Management software enables you drive effective employee training
          and completion, empowering you to schedule and report on training with the click of a button.
        </p>
        <img src="assets/img/down.png" alt="img"> 
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="clear head-section">
          <li class="head-item">
            <h3 class="head-item-heading head-icon">Centralize your organization's training data</h3>
            <p>
              Access, maintain and manage all of your training metrics in a singular location.
              Training database software allows you to do all this in real-time from a secure web-based platform.
            </p>
          </li>
          <li class="head-item">
            <h3 class="head-item-heading head-icon">Streamline training set-up, scheduling and assignment</h3>
            <p>
              Set up an unlimited number of useer groups based on job titles, roles, departments, facilities or locations and easily schedule and assign training requirements to these groups.
            </p>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</div> 
<app-features></app-features>
<app-aboutus></app-aboutus>
<app-contactus></app-contactus>
<app-footer></app-footer>
<ng-template #content let-modal>
   <app-login></app-login>
</ng-template>